@import url('constants.less');
@recipe-height: 480px;
@review-height: 480px;
@top3reviews1-height: 590px;
@top3reviews2-height: 280px;
@quarter-height: 380px;
@blog-height: 90px;
@special-height: 475px;
@index-height: 550px;
@new-review-height: 435px;
@event-height: 435px;
@events-height: 165px;
@photo-height: 550px;
@pop-height: 450px;
@pop-review-height: 365px;

.statistic{
  & .count{
    color: @light-text;
    font-size: 12px;
    line-height: 1.2;
    margin-left: 6px;
    vertical-align: middle;
  }
  & svg{
    width: 16px;
    height: 16px;
    vertical-align: middle;    
  }
  & .stat-icon{
    fill: @new-grey;
  }
}

.media-block{
  margin-bottom: 30px;
  position: relative;
  &:hover{
    & .photo a:after{
      opacity: 1;
    }
    & .photo img{
      transform: scale(1.1);
    }
  }
  & .photo{
    border-radius: 4px;
    text-align: center;
    position: relative;
    overflow: hidden;
    & img{
      border-radius: 4px;
      transition: 0.5s all ease-in;
    }
    & a{
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
      &:after {
        content: '';
        border-radius: 4px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        //opacity: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.1);
        pointer-events: none;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
      }
    }   
  }
  & .category{
    font-size: 14px;
    font-weight: bold;
  }
  & .kind{
    font-size: 12px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
  }
  & .title {
    font-size: 24px;
    font-family: @special-font;
    line-height: 1.33;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  & .descr {
    font-size: 16px;
    line-height: 22px;
  }
  & .statistic{
    position: absolute;    
    z-index: 20;
    overflow: hidden;
    bottom: 10px;
  }
}

.media-block--recipe{
}

.media-block--review{
  /*height: @review-height;
  @media @medium{
    height: @review-height * 0.9;
  }*/
  & .category{
    margin-top: 20px;
  }
}
.media-block--text, .media-block--blog{
  & .statistic{   
    left: 0px;
    //bottom: 0px;    
  }
}
.media-wrapper--big{
  & .media-block--review{
    color: white;
    @media @mobile{
      background-color: @grey-text;
    }
    & .photo {
      position: absolute!important;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1;
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.1) 50%,rgba(0,0,0,.5));      
        z-index: 10;
      }   
    }
    & .text{
      position: absolute;
      bottom: 60px;
      left: 20px;
      z-index: 20;
    }
    & .descr{
      max-width: 600px;
    }
    & .title{
      max-width: 600px;
    }
    & .category{
      color: white;
    }
    & .statistic{
      //bottom: 20px;
      left: 20px;
      & .count{
        color: white;
      }
      & .stat-icon{
        fill: white;
      }      
    }
  }
}
.media-wrapper--normal{
  & .media-block--lifehack{
    background-image: url(../img/lifehack.png);
    background-color: @soft-gray;
    background-repeat: no-repeat;
    background-position: center 85px;
    text-align: center;
    transition: all .5s ease-in;
    &:hover{
      background-color: lighten(@soft-gray, 3%);
    }
    & .photo{
      max-height: 238px;
      overflow: hidden;
      & img{
        visibility: hidden;
      }
      & a:after{
        display: none;
      }
    }
    & .text{
      padding: 15px;
    }
    
    & .statistic{
      //bottom: 20px;
      left: 0;
      width: 100%;
      & .count{
        color: @text-color;
      }
      & .stat-icon{
        fill: @text-color;
      }
    }
  }
}
.media-block--photo{
  color: white;
  text-align: center;
  &:hover{
    & .photo img{
      transform: translateX(-30%) scale(1.1);
    }
  }
  & .photo {
    position: absolute!important;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    @media @mobile{
      max-width: 617px;
    }
    & img{
      max-width: none;
      height: 100%;
      transform: translateX(-30%);
      @media @mobile{ 
        transform: none;
      }       
    }
    & a:after{
      display: none;
    }
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.1) 50%,rgba(0,0,0,.5));      
      z-index: 10;
    }   
  }
  & .text{
    position: absolute;
    bottom: 100px;
    left: 20px;
    z-index: 20;
    width: calc(~"100% - 40px");
  }
  & .category{
    color: white;
  }
  & .statistic{
    width: 100%;
    //bottom: 20px;
    left: 0;
    & .count{
      color: white;
    }
    & .stat-icon{
      fill: white;
    }
  }
  & .photo-icon{
    display: block;
    position: relative;
    &:before{
      content: "";
      background-image: url(../img/bg-photoreview.png);
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      height: 54px;
      margin: 10px auto;
      width: 54px;     
    }
  }
  
  .media-wrapper--big &{
    & .photo img{
      transform: none;
    }
    & .title, & .descr{
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.media-wrapper--normal{
  & .media-block--rubric{
    background-color: white;
    text-align: center;
    & .photo{
      display: none;
    }
    & .rubric{
      height: 280px;
    }
    & .text{
      padding: 0 15px;
    }
    & .statistic{
      //bottom: 20px;
      left: 0;
      width: 100%;
      & .count{
        color: @text-color;
      }
      & .stat-icon{
        fill: @text-color;
      }
    }
  }
}
.canvas{
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 100%;
  width: 100%;
  &--bar {background-image: url(../img/special/bar.png)}
  &--children{background-image: url(../img/special/children.png)}
  &--food{background-image: url(../img/special/food.png)}
  &--game{background-image: url(../img/special/game.png)}
  &--leisure{background-image: url(../img/special/leisure.png)}
  &--museum{background-image: url(../img/special/museum.png)}
  &--pilgrim{background-image: url(../img/special/pilgrim.png)}
  &--shopping{background-image: url(../img/special/shopping.png)}
  &--sight{background-image: url(../img/special/sight.png)}
  &--travel{background-image: url(../img/special/travel.png)}
  
  @media @tablet{
    background-size: contain;
  }
  @media @mobile{
    background-size: contain;
  }
  .article-item--plain &{
    background-size: 150px 150px;
    @media @tablet{
      background-size: 140px 140px;
    }
    @media @mobile{
      background-size: 120px 120px;
    }
  }
}

.blog-block{
  margin-bottom: 30px;
  position: relative;
  height: @blog-height;
  &:hover{
    & .photo img{
      filter: grayscale(100%);      
    }
  }
  & .photo{
    height: 60px;
    width: 60px;
    float: left;
    padding-top: 5px;
    & img{
      transition: all 0.5s ease-in;
      filter: none;
    }
  }
  & .title{
    font-size: 15px;
    line-height: 23px;
  }
  & .title-wrap{
    height: 70px;
    position: relative;
    margin-left: 80px;
  }
  & .statistic{
    //bottom: 0;
    left: 87px;
    position: absolute;
  }
}
.video-block{
  margin-bottom: 25px;
  & iframe{
    height: @special-height;
    @media @mobile{
      height: @special-height/2;
    }
  }
  & .theimage{
    cursor: pointer;
  }
}
.blog-wrap--3{
  @media (min-width: 1200px){
    & .col-lg-3 {
      width: 33.33333333%;
    }
  }
}
.media-block--blogs{
  text-align: center;
  & .statistic{
    width: 100%;
  }
  & .title{
    @media @large{
      padding: 0 5px;
    }
  }
}

.media-block--quarter{
  height: @quarter-height;
  @media @mobile_tablet{
    height: @quarter-height * 1.16;
  }
  & .title{
    font-size: 20px;
    line-height: 1.4;
  }
  & .statistic{
    bottom: 0;
    & .count{
      color: @text-color;
    }
  }
}

.media-block--event{
  & .category{
    background-color: @blue;
    font-weight: normal !important;
    padding: 7px 15px;
    border-radius: 30px;
    display: inline-block;
    color:white;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 10;
    letter-spacing: -0.7px;
    @media @medium{
      padding: 7px 10px;
      font-size: 11px;
    }
    @media @tablet{
      padding: 7px 10px;
      font-size: 11px;
    }
    & .date{
      display: inline-block;
      margin-right: 5px;
    }
    & a{
      display: inline-block;
      margin-left: 5px;
    }
  }
  & .title{
    font-size: 22px;   
  }
  & .descr{
    font-size: 18px;
  }
  & .statistic{
    & path, & .count{
      fill: @text-color;
      color: @text-color;
    }
  }
}
.media-block--index, .media-block--top3review, .media-block--special, .media-wrapper--full .media-block--top3places{
  height: @index-height;
  margin-bottom: 0;
  text-align: center;
  @media @extra-large{
    height: @index-height * 1.32;
  }
  @media @ipad_pro{
    & img{
      height: 100%;
      width: auto !important;
      max-width: none;
    }
  }
  @media @monitor2{
    & img{
      height: 100%;
      width: auto !important;
      max-width: none;
    }
  }
  @media @medium{
    height: @index-height * 0.83;
    & img{
      max-width: none;
      max-height: @index-height * 0.83;
      width: auto !important;
    }
  }
  @media @tablet{
    height: @index-height * 0.75;
    & img{
      max-width: none;
      max-height: @index-height * 0.75;
      width: auto !important;
    }
  }
  @media @mobile{
    height: @index-height * 0.7;
    & img{
      max-width: none;
      max-height: @index-height * 0.7;
      width: auto !important;
    }
  }
  &:hover {
    & .photo img {
      transform: scale(1);
    }
  }
  & .photo {
    position: absolute!important;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
    @media @mobile{
      max-width: 100%;
    }
    & a:after{
      background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.2) 30%, rgba(0,0,0,.4) 50%, rgba(0,0,0,.2) 80%, rgba(0,0,0,.0));
      opacity: 0.6;
    } 
  }
  & .container{
    position: relative;
    z-index: 2;
    color: white;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
    width: 100%;
  }
  & .text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  & .category{    
    color: white;
    font-weight: normal;
    & a, & span{
      background-color: @blue;
      display: inline-block;
      padding: 7px 20px;
      border-radius: 30px;
      min-width: 170px;
    }
  }
  & .title{
    margin: 20px 0;
    padding: 0 170px;
    font-size: 48px;
    line-height: 1.25; 
    & .big{ 
      font-size: 55px;
    }
    & .small{ font-size: 36px; }
    @media @mobile{
      font-size: 30px;
    }
    @media @medium{
      padding: 0 120px;
      & .big{ font-size: 48px; }
      & .small{ font-size: 26px; }
    }
    @media @tablet{
      padding: 0 100px;
      & .big{ font-size: 36px; }
      & .small{ font-size: 22px; }
    }
    @media @mobile{
      padding: 0 30px;
      & .big{ font-size: 26px; }
      & .small{ font-size: 18px; }
    }
    & a:hover{
      color: @light-grey;
      text-decoration: none;
    }
  }
  & .descr{
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 20px;
  }
  & .statistic{
    position: static;
    & path, & .count{
      fill: white;
      color: white;
    }
  }  
}
.media-block--index{
  & .statistic{
    & path, & .count{
      font-size: 18px;
    }
    & svg {
      width: 22px;
      height: 22px;
      vertical-align: middle;
    }
  } 
}
.media-block--special{
  margin-bottom: 60px;
}
.media-wrapper--full .media-block--top3places{
  margin-bottom: 30px;
}
.media-block--top3places .container{
  cursor: pointer;
}
.articles--index{
  margin-bottom: 40px;
}
.articles--index.owl-carousel, .affiche-carousel.owl-carousel{  
  overflow: hidden;
  @media @mobile{
    margin-bottom: 20px;
  }
  & .owl-nav{
    position: absolute;
    top: 50%;
    bottom: auto;
    margin-top: -4.5rem;
    width: calc(~'100% + 76px');
    margin-left: -38px;
    left: 0;
    
    & div{      
      border-radius: 50%;
      background-color: @blue;      
      position: absolute;
      width: 76px;
      height: 76px;
      z-index: 20;
      text-align: center;
      overflow: hidden;
      font-size: 0;
      &:before, &:after{
        content: "";
        background-color: white; 
        display: inline-block;  
        width: 13px;
        height: 2px; 
        position: absolute;   
        
      }
      &:before{
        transform: rotate(45deg);
      }
      &:after{
        transform: rotate(-45deg);
      }
      &.owl-prev{
        left: 0;   
        &:before{
          bottom: 33px; left: 44px; 
        }    
        &:after{
          top: 33px; left: 44px; 
        }
      }
      &.owl-next{
        right: 0;
         &:before{
          top: 33px; right: 44px;
        }    
        &:after{
          bottom: 33px; right: 44px;
        }
      }     
    }
  
  }
}
.media-block--new-review, .view-cyprus-reviews.view-display-id-new_reviews .media-block--review-page,
.media-wrapper--small .media-block--top3places, .media-wrapper--half .media-block--top3places,
.media-wrapper--third .media-block--top3places{
  color: white;
  position: relative;
  height: @new-review-height; 
  @media @mobile_tablet_medium{
    height: @new-review-height * 0.94; 
    & .photo img{
      height: @new-review-height * 0.94 !important;
    }
  }
  & .category{
    color: white;
    position: absolute;
    top: 30px;
    left: 30px;
    margin-top: 0;
    z-index: 10;
  }  
  & .text{
    position: absolute;
    left: 30px;
    padding-right: 30px;
    bottom: 60px;
    z-index: 20;
    & .descr{
      font-size: 18px;
      line-height: 26px;
      &.covert{
        display: none;
      }
    }
    & .title{
      font-size: 22px;
      @media @medium{
       font-size: 20px; 
      }
      @media @mobile{
       font-size: 20px; 
      }
      @media @tablet{
       font-size: 20px; 
      }
    }
  }
  & .statistic{
    left: 30px;
    bottom: 33px;
    & .count, & .stat-icon{
      color: white;
      fill: white;
    }
  }
  & .photo{
    border-radius: 4px;
    overflow: hidden;
    & img{
      max-width: none;
    }
    & a{
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.1) 50%,rgba(0,0,0,.5));      
        z-index: 10;
        opacity: 0.8;
      }
    }
  }
}
.view-display-id-editors_place,
.view-display-id-editors_recipe{
  & .view-content{
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      width: 60%;
      height: 1px;
      background-color: @monte-grey;
      left: 20%;
      bottom: 15px;
    }
    &:after{
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: @blue;
      left: 50%;
      margin-left: -5px;
      bottom: 10px;
      border-radius: 50%;
    }
  }
}
.media-wrapper--small .media-block--top3places,
.media-wrapper--half .media-block--top3places,
.media-wrapper--third .media-block--top3places{
    & .container{
      height: 100%;
      width: 100% !important;
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 0;
      padding-right: 0;
      & .descr{
        display: none;
      }
      & .title{
        position: absolute;
        left: 30px;
        bottom: 60px;
        z-index: 20;
        padding-right: 30px;
      }
      & .text{
        position: relative;
        height: 100%;
        width: 100%;
        left: 0;
        bottom: 0;
      }    
    }
  & .photo img{
        height: @new-review-height;
        margin-left: -50%;
      }
}
.media-wrapper--half .media-block--top3places{
  & .container {
    & .descr{
      display: block;
    }
    & .title{      
      position: static;
    }
    & .title-descr{
      position: absolute;
      bottom: 60px;
      left: 30px;
      z-index: 20;
      padding-right: 10px;
    }
  }
}
.media-wrapper--eight{
  & .media-block--new-review{
    & .title{
      font-size: 40px;
      @media @mobile_tablet{
        font-size: 22px;
      }
    }    
  }
}
.view-cyprus-reviews.view-display-id-new_reviews {
  & .media-wrapper--four{
    & .media-block--review-page .descr{
      display: none;
    }
  }
  & .media-wrapper--eight{
    & .media-block--review-page .title{
      font-size: 40px;
      @media @mobile_tablet{
        font-size: 22px;
      }
    }
  }
}
.media-wrapper--large{
  & .media-block--event{
    color: white;
    height: @event-height;
    margin-bottom: 0px;
    @media @mobile{
      height: @event-height * 0.6;
      margin-top: 80px;
      & img{
        max-width: none;
        max-height: @event-height * 0.6;
        width: auto !important;
        margin-left: -200px;
      }
    }
    @media @medium{
      height: @event-height * 0.78;
    }
    @media @tablet{
      height: @event-height * 0.65;
    }
    @media @small_tablet{ 
      & img{
        margin-left: 0px;
      }   
    }
    
    & .photo {
      position: absolute!important;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1;
      @media @mobile{
        max-width: 100%;
      }
      & a{        
        &:after{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.1) 50%,rgba(0,0,0,.5));      
          z-index: 10;
        } 
      }      
    }
    & .title{
      font-size: 40px;
      font-weight: normal;
      max-width: 800px;
      margin-top: 0;
      margin-bottom: 6px;
      @media @tablet{
        font-size: 30px;       
      }
      @media @mobile{
        font-size: 22px;        
      }      
    }
    & a:hover{
      text-decoration: none;
      color: darken(white, 10%);
    }
    & .text{
      position: absolute;
      left: 30px;
      bottom: 90px;
      z-index: 3;
      width: calc(~'100% - 40px');
      @media @medium{
        bottom: 70px;
      }
      @media @tablet{
        bottom: 45px;
        left: 30px;
      }
      @media @mobile{
        bottom: 45px;
        left: 10px;
      }
      & .descr{
        max-width: 600px;
      }
    }
    & .statistic{
      bottom: 30px;
      left: 30px;
      @media @tablet{
        bottom: 10px;
        left: 30px;
      }
      @media @mobile{
        bottom: 10px;
        left: 10px;
      }
      & path, & .count{
        fill: white;
        color: white;
      }
    }
    & .category{
      font-weight: normal;
      @media @mobile{
        top: 10px;
        left: 10px;
      }
    }
  }
  .affiche-carousel & .media-block--event{
    height: @index-height;
    @media @medium{
      height: @index-height * 0.83;
      & img{
        max-width: none;
        max-height: @index-height * 0.83;
        width: auto !important;
      }
    }
    @media @tablet{
      height: @index-height * 0.75;
      & img{
        max-width: none;
        max-height: @index-height * 0.75;
        width: auto !important;
      }
    }
    @media @mobile{
      height: @index-height * 0.7;
      margin-top: 20px;
      & img{
        max-width: none;
        max-height: @index-height * 0.7;
        width: auto !important;
      }
    }
    
    & .statistic, & .category, & .text{
      left: 43px;
    }
    & .text{
      @media @tablet{
        bottom: 70px;
      }      
    }
    & .title{
      font-size: 48px;
      @media @tablet{
        font-size: 38px;
      }
      @media @mobile{
        font-size: 30px;
      }
    }
    & .statistic{ 
      bottom: 43px;
      @media @mobile{
        bottom: 23px;
      }
      & svg {
        width: 22px;
        height: 22px;
      }
      & .count{
        font-size: 18px;
      }
    }
  }
}
.media-block--pop-place{
  height: @pop-height;
  color: white;
  @media @mobile{
    height: @pop-height * 0.94;
    & .photo img{
      height: @pop-height * 0.94;
    }
  }
  @media @medium{
    height: @pop-height * 0.94; 
    & .photo img{
      height: @pop-height * 0.94;
    }
  }
  @media @tablet{
    height: @pop-height * 0.94; 
    & .photo img{
      height: @pop-height * 0.94;
    }
  }
  & .photo{
    & a:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.1) 50%,rgba(0,0,0,.5));      
      z-index: 10;
    }
  }
  & .statistic{
    bottom: 30px;
    left: 30px;
    @media @tablet{
      bottom: 10px;
      left: 30px;
    }
    & path, & .count{
      fill: white;
      color: white;
    }
  }
  & .category{
    color: white;
    position: absolute;
    top: 30px;
    left: 30px;
    margin-top: 0;
    font-weight: bold;
    z-index: 100;
  }  
  & .text{
    position: absolute;
    left: 30px;
    padding-right: 30px;
    bottom: 60px;
    z-index: 20;
    & .descr{
      font-size: 18px;
      line-height: 26px;
      &.covert{
        display: none;
      }
    }
    & .title{
      font-size: 22px;
    }
  }
}

.media-block--main-photo{
  height: @photo-height;
  color: white;
  text-align: center;
  @media @medium{
    height: @photo-height * 0.78;
  }
  @media @tablet{
    height: @photo-height * 0.6;
  }
  @media @mobile{
    height: @photo-height * 0.6;
    & .photo img{
      height: @photo-height * 0.6;
      max-width: none;
      margin-left: -150px;
    }
  }
  & .photo{
    border-radius: 4px;
    position: absolute!important;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    & a:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.2) 30%, rgba(0,0,0,.5) 50%, rgba(0,0,0,.2) 80%, rgba(0,0,0,.0));      
      z-index: 10;
    } 
    & img{
      border-radius: 4px;
    }
  }
  & .text{    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    z-index: 3;
    width: 100%;
  }
  & a:hover{
    text-decoration: none;
    color: darken(white, 10%);
  }
  & .title{
    font-size: 48px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    @media @medium{
      font-size: 40px; 
    }
    @media @tablet{
      font-size: 30px;       
    }
    @media @mobile{
      font-size: 22px;        
    }     
  }
  & .descr{
    font-size: 18px;
    @media @mobile_tablet{
      font-size: 16px;
    }
  }
  & .category{ 
    font-weight: normal;   
    & a{
      background-color: @blue;
      color: white;
      display: inline-block;
      padding: 7px 20px;
      border-radius: 30px;
      min-width: 170px;
      text-align: center;
    }
  }
  & .statistic{
    margin-top: 20px;
    position: static;
    & path, & .count{
      fill: white;
      color: white;
    }
  }
}
.media-wrapper--full .media-block--top3recipes{
  & .statistic{       
    & svg {
      width: 22px;
      height: 22px;
    }
    & .count{
      font-size: 18px;
    }
  }
}
.view-id-cyprus_reviews .media-block--review-page{
  height: @pop-review-height;
  color: white;
  @media @mobile_tablet_medium{
    height: @pop-review-height * 0.94 ;
    & .photo img{
      height: @pop-review-height * 0.94 ;
      max-width: none;
    }
  }
}
.media-block--pop-review, .media-block--review-page{
  height: @pop-review-height;
  color: white;
  @media @mobile_tablet_medium{
    height: @pop-review-height * 0.94 ;
    & .photo img{
      height: @pop-review-height * 0.94 ;
      max-width: none;
    }
  }
  & .photo{
    & a:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(0,0,0,.0) 17%, rgba(0,0,0,.1) 50%,rgba(0,0,0,.5));      
      z-index: 10;
    } 
  }
  & .statistic{
    bottom: 30px;
    left: 30px;
    @media @tablet{
      bottom: 10px;
      left: 30px;
    }
    & path, & .count{
      fill: white;
      color: white;
    }
  }
  & .category{
    color: white;
    position: absolute;
    top: 30px;
    left: 30px;
    margin-top: 0;
    font-weight: bold;
    z-index: 10;
  }  
  & .text{
    position: absolute;
    left: 30px;
    padding-right: 30px;
    bottom: 60px;
    max-width: 450px;
    z-index: 20;  
    & .descr{
      font-size: 18px;
      line-height: 26px;
      &.covert{
        display: none;
      }
    }
    & .title{
      font-size: 22px;
      @media @mobile{
        font-size: 20px;
      }
      @media @tablet{
        font-size: 20px;
      }
      @media @medium{
        font-size: 20px;
      }
    }
  }
  .media-wrapper--third &{
    & .photo img{
      height: @pop-review-height;
      max-width: none;
      margin-left: -50%;
      @media @mobile_tablet_medium{
        height: @pop-review-height * 0.94;
      }
    }
    & .descr{
      display: none;
    }
  }
}
.view-id-blog .blog-wrap--2 .col-blog:first-child{
 margin-left: 25%;
 @media @mobile_tablet{
   margin-left: 0;
 }
}
.view-id-blog .blog-wrap--3 .col-blog:first-child{
 //margin-left: 12%;
 @media @mobile_tablet{
   margin-left: 0;
 }
}